* {
    box-sizing: border-box;
    padding-bottom: 10px;
    margin: 0;
}

body {
    background-color: blanchedalmond;
}

ul.nav {
    list-style: none;
    position: relative;
    left: 70%;
    flex-wrap: wrap;

}

ul.nav li {
    display: inline-block;
    font-size: 40px;
    padding-right: 30px;
    text-decoration: underline;
    color: aliceblue;
    

}

.header {
    background-color: rgb(0, 62, 112);
    border: 10px solid black; 
    max-height: 150px;
}

.header h1{
    padding-top: 25px;
   font-size: 50px;
}

.section {
    max-block-size: 100% ;
    max-height: max-content;
    max-width: 100%;
    padding: 15px;
    margin: 15px;
}
box {
    position:relative ;
    left: 15%;
    float: left;
    width: 450px;
    height: 450px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
}
box1 {
    position:relative ;
    left: 30%;
    float: left;
    width: 450px;
    height: 450px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
}

box2 {
    position:relative ;
    left: 30%;
    bottom: 30%;
    float: left;
    width: 450px;
    height: 450px;
    border: 10px solid black;
    padding: 10px;
    margin: 10px;
    flex-wrap: wrap;
}